@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de alta";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
  Por favor haz <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clic aquí para confirmar el alta</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

